<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    <!-- Configuration de la connexion -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/gestion_ferme?createDatabaseIfNotExist=true
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- Configuration des propriétés de hibernate -->
		<!-- Les valeurs possibles : create, update, validate, create-drop -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Déclarer le dialect correspondant à MySQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Afficher les requêtes SQL générées (true) -->
		<property name="hibernate.show_sql">true</property>
		<mapping class="com.inti.entities.Ferme" />
		<mapping class="com.inti.entities.Departement" />
		<mapping class="com.inti.entities.Gerant" />
		<mapping class="com.inti.entities.Animal" />
		<mapping class="com.inti.entities.BasseCour" />
		<mapping class="com.inti.entities.Betail" />
		<mapping class="com.inti.entities.Eleveur" />
	</session-factory>
</hibernate-configuration>
